## Student Performance Data

In [4]:
import pandas as pd

data = {
    "Study_Hours": [2, 5, 8, 1, 6, 9, 4, 7, 3, 10],
    "Attendance": [65, 80, 90, 55, 85, 95, 70, 88, 60, 98],
    "Prev_Score": [45, 60, 85, 35, 70, 92, 50, 78, 48, 95],
    "Family_Income": [30000, 50000, 120000, 25000, 70000, 150000, 45000, 90000, 35000, 200000],
    "Final_Score": [42, 62, 88, 38, 72, 94, 55, 80, 46, 97]
}

df = pd.DataFrame(data)
print(df)

   Study_Hours  Attendance  Prev_Score  Family_Income  Final_Score
0            2          65          45          30000           42
1            5          80          60          50000           62
2            8          90          85         120000           88
3            1          55          35          25000           38
4            6          85          70          70000           72
5            9          95          92         150000           94
6            4          70          50          45000           55
7            7          88          78          90000           80
8            3          60          48          35000           46
9           10          98          95         200000           97

In [5]:
x = df.drop("Final_Score", axis=1)
y = df['Final_Score']

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [7]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2)

### Applying Standardization

In [8]:
scaler = StandardScaler()
x_train_nostd = scaler.fit_transform(x_train)
x_test_nostd = scaler.transform(x_test)

In [10]:
x_train_nostd = pd.DataFrame( x_train_nostd , columns= x_train.columns)
x_test_nostd = pd.DataFrame( x_test_nostd , columns= x_test.columns)

In [11]:
x_train_nostd.sample(5)

   Study_Hours  Attendance  Prev_Score  Family_Income
6     0.000000    0.215110    0.000000      -0.380817
3    -1.333333   -1.218959   -1.222059      -1.077169
2     1.000000    0.932145    1.075412       1.011886
1     0.666667    0.573628    0.733236       0.489622
5     0.333333    0.430221    0.391059      -0.032641

## Before Standerdize

In [14]:
x_train.describe()

       Study_Hours  Attendance  Prev_Score  Family_Income
count     8.000000    8.000000    8.000000       8.000000
mean      6.000000   82.000000   70.000000   91875.000000
std       3.207135   14.909249   21.869744   61408.323075
min       1.000000   55.000000   35.000000   25000.000000
25%       4.250000   76.250000   56.250000   45000.000000
50%       6.500000   86.500000   74.000000   80000.000000
75%       8.250000   91.250000   86.750000  127500.000000
max      10.000000   98.000000   95.000000  200000.000000

## After Standerdize

In [15]:
x_train_nostd.describe()

        Study_Hours    Attendance    Prev_Score  Family_Income
count  8.000000e+00  8.000000e+00  8.000000e+00       8.000000
mean  -2.081668e-17  1.387779e-17 -2.775558e-17       0.000000
std    1.069045e+00  1.069045e+00  1.069045e+00       1.069045
min   -1.666667e+00 -1.935994e+00 -1.710883e+00      -1.164213
25%   -5.833333e-01 -4.122950e-01 -6.721326e-01      -0.816037
50%    1.666667e-01  3.226656e-01  1.955295e-01      -0.206729
75%    7.500000e-01  6.632571e-01  8.187797e-01       0.620188
max    1.333333e+00  1.147256e+00  1.222059e+00       1.882326