# Column Transformation

In [3]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [6]:
df = pd.read_csv('covid_toy.csv')

In [8]:
df.sample(5)

    age  gender  fever   cough       city has_covid
56   71    Male    NaN  Strong    Kolkata        No
23   80  Female   98.0    Mild      Delhi       Yes
43   22  Female   99.0    Mild  Bangalore       Yes
6    14    Male  101.0  Strong  Bangalore        No
91   38    Male    NaN    Mild      Delhi       Yes

In [11]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [13]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split( df.drop(columns=['has_covid']) , df['has_covid'] , test_size=0.2 )

In [24]:
x_train.sample(5)

    age  gender  fever   cough       city
6    14    Male  101.0  Strong  Bangalore
25   23    Male    NaN    Mild     Mumbai
92   82  Female  102.0  Strong    Kolkata
38   49  Female  101.0    Mild      Delhi
42   27    Male  100.0    Mild      Delhi

In [29]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

## Apply Column transformation

In [32]:
from sklearn.compose import ColumnTransformer

trans = ColumnTransformer(
    transformers=[
        ('tnf1' , SimpleImputer() , ['fever'] ),
        ('tnf2' , OrdinalEncoder(categories=[['Mild' , 'Strong']]) , ['cough'] ),
        ('tnf3' , OneHotEncoder(sparse_output=False , drop='first') , ['gender' , 'city'])
    ] , remainder='passthrough'
)

In [34]:
trans.fit_transform(x_train).shape

(80, 7)

In [36]:
trans.transform(x_test).shape

(20, 7)