In [1]:
import pandas as pd

###  load json file

In [ ]:

pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

### load json from URL

In [6]:
pd.read_json('https://jsonplaceholder.typicode.com/posts')

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

### working with sql

In [9]:
# %pip install mysql-connector
%pip install --upgrade mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   --- ------------------------------------ 1.6/16.5 MB 14.4 MB/s eta 0:00:02
   ---------- ----------------------------- 4.5/16.5 MB 14.3 MB/s eta 0:00:01
   ------------ --------------------------- 5.0/16.5 MB 9.3 MB/s eta 0:00:02
   ------------- -------------------------- 5.8/16.5 MB 7.9 MB/s eta 0:00:02
   ---------------- ----------------------- 6.8/16.5 MB 7.1 MB/s eta 0:00:02
   ----------------- ---------------------- 7.3/16.5 MB 6.7 MB/s eta 0:00:02
   ------------------- -------------------- 8.1/16.5 MB 6.1 MB/s eta 0:00:02
   --------------------- ------------------ 8.9/16.5 MB 5.7 MB/s eta 0:00:02
   ----------------------- ---------------- 9.7/16.5 MB 5.5 MB/s eta 0:00:02
   ------------------------- -------------- 10.5/16.5 MB 5.2 MB/s eta 0:00:02
   --------------------------- ------------ 11.3/16.5 MB 5.1 MB/s eta 0:00:02
   ----------------------------- ---------- 12.1/16.5 MB 4.9 MB/s eta 0:00:01
   ------------------------------- -------- 12.8/16.5 MB 4.9 MB/s eta 0:00:01
   -------------------------------- ------- 13.4/16.5 MB 4.7 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.5 MB 4.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.5 MB 4.6 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 4.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\shukl\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (c:\Users\shukl\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\shukl\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (c:\Users\shukl\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\shukl\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (c:\Users\shukl\anaconda3\Lib\site-packages)

In [10]:
import mysql.connector

In [13]:
# import mysql.connector

con = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",   # keep empty if no password
    database="world"
)

print("Connected successfully")

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

In [6]:
pd.read_sql_query('SELECT * FROM city' , con=conn)

NameError: name 'pd' is not defined